<div class="main-content">
  <div class="container-fluid">
    <div class="d-flex">
      <mat-form-field>
        <mat-label>Procurar</mat-label>
        <input matInput [disabled]="isLoading" (keyup)="applyFilter($event)" placeholder="Procurar..." #input>
      </mat-form-field>
      <button mat-mini-fab color="warn" (click)="openDialog()" class="ml-2 mt-3 custom-icon-add">
        <mat-icon>person_add_alt_1</mat-icon>
      </button>
    </div>

    <div class="example-container">

      <div class="example-loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading" [diameter]="35" color="warn"></mat-spinner>
      </div>

      <div class="example-table-container mat-elevation-z8">

        <table mat-table [dataSource]="cadastros" matSort>

          <ng-container matColumnDef="termo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Termo </th>
            <td mat-cell *matCellDef="let row"> {{row.termo}} </td>
          </ng-container>

          <ng-container matColumnDef="municipio">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Município </th>
            <td mat-cell *matCellDef="let row"> {{row.municipio}} </td>
          </ng-container>

          <ng-container matColumnDef="local">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
            <td mat-cell *matCellDef="let row"> {{row.local}} </td>
          </ng-container>
          <!-- 
          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Items </th>
            <td mat-cell *matCellDef="let row"> {{row.items.length}} </td>
          </ng-container> -->
          <!-- 
          <ng-container matColumnDef="quantidade">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade de items </th>
            <td mat-cell *matCellDef="let row"> {{row.items}} </td>
          </ng-container> -->

          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Data </th>
            <td mat-cell *matCellDef="let row"> {{row.data | slice: 0:10 | date: 'dd/MM/yyyy'}} </td>
          </ng-container>


          <ng-container matColumnDef="opcao">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Opções </th>
            <td mat-cell *matCellDef="let row let i = index">
              <button mat-mini-fab color="warn" (click)="openDialogEdit(cadastros.data[i])" class="my-fab">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro "{{input.value}}"</td>
          </tr>
        </table>
        <mat-paginator [length]="totalPages" [pageSize]="5" (page)="getCurrent($event)"></mat-paginator>
      </div>

    </div>
  </div>
</div>

<ng-template #myTemplate>
  <mat-dialog-content class="mat-typography">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Cadastro</h4>
            <p class="card-category">Cadastrar informação da doação</p>
          </div>
          <div class="card-body">
            <form [formGroup]="userform" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Número Termo *" formControlName="termo">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-select placeholder="Município" formControlName="municipio" required>
                      <mat-select-filter [placeholder]="'Procurar'" [displayMember]="'nome'" [array]="municipios"
                        (filteredReturn)="filteredListMunicipios =$event"></mat-select-filter>
                      <mat-option *ngFor="let municipio of filteredListMunicipios" [value]="municipio.nome">
                        {{municipio.nome}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Município *" formControlName="municipio">
                  </mat-form-field> -->
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Data *" type="date" formControlName="data">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <!-- <div class="col-md-4">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Quantidade *" type="number" formControlName="quantidade">
                  </mat-form-field>
                </div> -->
                <!-- <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Unidade de Medida *" type="text" formControlName="medida">
                  </mat-form-field>
                </div> -->
                <div class="col-md-6">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Local *" type="text" formControlName="local">
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <ngx-mat-file-input type="file" accept="image/*,application/pdf" formControlName="evidencia"
                      placeholder="Anexar evidência" (change)="onFileChange($event.target.files)">
                      <mat-icon ngxMatFileInputIcon>folder</mat-icon>
                    </ngx-mat-file-input>
                  </mat-form-field>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Local *" type="text" formControlName="local">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <ngx-mat-file-input type="file" accept="image/*,application/pdf" formControlName="evidencia"
                      placeholder="Anexar evidência" (change)="onFileChange($event.target.files)">
                      <mat-icon matSuffix>folder</mat-icon>
                    </ngx-mat-file-input>
                  </mat-form-field>
                </div>
              </div> -->
              <div class="row mb-2">
                <div class="col-md-12">
                  <button type="button" mat-raised-button color="accent" (click)="addItem()"
                    class="custom-icon-add-item">
                    <mat-icon>post_add</mat-icon>item
                  </button>
                </div>
              </div>
              <div class="row" formArrayName="items">
                <div class="col-md-12" *ngFor="let item of items().controls; let i=index" [formGroupName]="i">
                  <!-- <mat-form-field id="input-item" class="example-full-width">
                    <input matInput placeholder="Item *" type="text" formControlName="item">
                  </mat-form-field> -->
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field>
                        <mat-label>Item</mat-label>
                        <mat-select #select formControlName="name" (click)="handleClickSelect(i)" required>
                          <mat-select-filter *ngIf="select.focused" [placeholder]="'Procurar'" [displayMember]="'value'" [hasGroup]="true" [groupArrayName]="'items'" [array]="filteredListItems"
                          (filteredReturn)="inputFilterResert($event, i)"></mat-select-filter>
                          <mat-optgroup *ngFor="let group of (filterInputRow[i] || filteredListItems)" [label]="group.nome">
                            <mat-option style="height: unset;  white-space: normal; border-bottom: 1px solid #e3e8ef;"  *ngFor="let item of group.items" [value]="item.value">
                              {{item.viewValue}}
                            </mat-option>
                          </mat-optgroup>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <!-- <mat-form-field class="example-full-width">
                        <input matInput placeholder="Unidade de Medida *" type="text" formControlName="medida">
                      </mat-form-field> -->
                      <mat-form-field>
                        <mat-select placeholder="Unidade de Medida" formControlName="medida" required>
                          <mat-option *ngFor="let medida of unidadeDeMedida" [value]="medida.value">
                            {{medida.value}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Quantidade *" type="number" formControlName="quantidade">
                        </mat-form-field>
                    </div>
                    <div class="col-md-1">
                      <button *ngIf="i > 0" mat-icon-button color="warn" (click)="removeItem(i)"
                        class="custom-icon-remove">
                        <mat-icon>delete_outline</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Observação..." formControlName="observacao"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row button-cadastro-flutuante">
                <button mat-raised-button color="accent" type="submit" class="btn pull-right">Cadastrar
                  <mat-icon>save</mat-icon>
                </button>
                <button type="button" *ngIf="controlDelete" (click)="deleteCadastro()" mat-raised-button
                  class="btn btn-danger pull-right">Delete
                  <mat-icon>delete_outline</mat-icon>
                </button>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div *ngIf="controlPreviewFormat">
                    <pdf-viewer [src]="imgSrc" height="200" [render-text]="true" style="display: block;"></pdf-viewer>
                  </div>
                  <div *ngIf="!controlPreviewFormat">
                    <img src="{{imgSrc}}" class="img-cadastro-moble" height="200" alt="Pré-visualização..."
                      *ngIf="imgSrc">
                  </div>
                </div>
              </div>
              <!-- <button mat-raised-button color="accent" type="submit" class="btn pull-right">Cadastrar
                <mat-icon>save</mat-icon>
              </button>
              <button type="button" *ngIf="controlDelete" (click)="deleteCadastro()" mat-raised-button
                class="btn btn-danger pull-right">Delete
                <mat-icon>delete_outline</mat-icon>
              </button> -->
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</ng-template>