<footer class="footer ">
    <div class="container-fluid">
        <img style="width: 50%;" src="/assets/img/SOS-AM---LOGOTIPOS-CAMPANHA-2.png"/>
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        Creative Tim
                    </a>
                </li>
                <li>
                    <a href="https://creative-tim.com/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.creative-tim.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.creative-tim.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav> -->
        <!-- pull-righ -->
        <div class="copyright">
            &copy;
            SW Developer
            <a href="https://www.linkedin.com/in/f%C3%A1bio-wendel-20186b161/" target="_blank">Fábio Serrão</a>
        </div>
    </div>
</footer>
