<div class="main-content">
  <div class="container-fluid">
    <div class="login-page">
      <div class="row justify-content-md-center">
        <div class="col-md-4">
          <img src="../../assets/img/LOGO-SOS-AM-MAPA.png" width="210px" height="210px" class="user-avatar" />
          <h5>SOS AMAZONAS</h5>
          <form role="form">
            <div class="form-content">
              <div class="form-group">
                <input type="text" ng-model="name" class="form-control input-underline input-lg" id=""
                  placeholder="E-mail" #email>
              </div>

              <div class="form-group">
                <input type="password" class="form-control input-underline input-lg" id="" placeholder="Senha" #pwd>
              </div>
            </div>
            <a class="btn rounded-btn" (click)="onLoggedin(email, pwd)"> Entrar </a>
            <br>
            <br>
            <a class="btn rounded-btn" (click)="forgetPwd(email)">Esqueci minha senha</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
