<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success" style="background: #cbe2cc !important;">
                        <!-- <div class="ct-chart" id="dailySalesChart"></div> -->
                        <div *ngIf="isLoading" class="d-flex justify-content-center" style="margin-top: 20%;">
                            <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div [style.visibility]="isLoading ? 'hidden' : 'visible'" class="chartWrapper">
                            <div class="chartAreaWrapper">
                                <canvas id="myChartGeral" width="700" height="210" #myChartGeral></canvas>
                            </div>
                            <canvas id="chartAxisGeral" height="400" width="0"></canvas>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gráfico Geral</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <b>Atualizado em {{timeDate | date:
                                "HH:mm:ss"}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="card-header card-header-success" style="background: #cbe2cc !important;">
                        <mat-form-field appearance="fill">
                            <mat-label>Selecione o município</mat-label>
                            <mat-select (selectionChange)="getItemsMunicipio($event.value)">
                                <mat-option *ngFor="let municipio of labelsMunicipios" [value]="municipio">
                                    {{municipio}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div *ngIf="isMessageSelectedMunicipio" class="d-flex justify-content-center">
                            <h2 style="color: #636262;">
                                Selecione o município que deseja filtrar...
                            </h2>
                        </div>
                        <div *ngIf="isLoadingItems&&!isMessageSelectedMunicipio" class="d-flex justify-content-center"
                            style="margin-top: 20%;">
                            <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <div [style.visibility]="isLoadingItems ? 'hidden' : 'visible'" class="chartWrapper">
                            <div class="chartAreaWrapper">
                                <canvas id="myChartItems" width="5000" height="1500" #myChartItems></canvas>
                            </div>
                            <canvas id="chartAxisItems" height="400" width="0"></canvas>
                        </div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Gráfico Tipo de Items</h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <b>Atualizado em {{timeDate | date:
                                "HH:mm:ss"}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #c88c6c !important;">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Selecione o município</mat-label>
                            <mat-select (selectionChange)="getItemsMunicipio($event.value)">
                                <mat-option *ngFor="let municipio of labelsMunicipios" [value]="municipio">
                                    {{municipio}}
                                </mat-option>
                            </mat-select> -->
                            <mat-select (selectionChange)="getItemsMunicipio($event.value)"
                                placeholder="Selecione o município">
                                <mat-select-filter [placeholder]="'Procurar'" [displayMember]=""
                                    [array]="labelsMunicipios" (filteredReturn)="filteredListMunicipios =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let municipio of filteredListMunicipios" [value]="municipio">
                                    {{municipio}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <h4 class="card-title" style="font-weight: bold;">{{selectedMunicipio ? selectedMunicipio :
                            'Selecione o município que deseja filtrar acima...'}}</h4>
                        <p class="card-category" style="font-weight: bold;">Consultar município que receberam doações
                        </p>
                    </div>
                    <div *ngIf="isLoadingItems&&selectedMunicipio" class="d-flex justify-content-center"
                        style="margin-top: 5%;">
                        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!isLoadingItems" class="card-body table-responsive">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Procurar</mat-label>
                                <input matInput [disabled]="isLoadingItems" (keyup)="applyFilter($event)"
                                    placeholder="Procurar..." #input>
                            </mat-form-field>
                        </div>

                        <div class="example-container">

                            <div class="example-table-container mat-elevation-z8">

                                <table mat-table [dataSource]="dataItemsTable" matSort>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="local">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
                                        <td mat-cell *matCellDef="let row">{{row.local}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="medida">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade de medida </th>
                                        <td mat-cell *matCellDef="let row"> {{row.medida}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalItems">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
                                        <td mat-cell *matCellDef="let row"> {{row.totalItems}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro
                                            "{{input.value}}"</td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <b>Atualizado em {{timeDate | date:
                                "HH:mm:ss"}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #6896c1 !important">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Selecione o local</mat-label>
                            <mat-select (selectionChange)="getItemsByLocal($event.value)">
                                <mat-option *ngFor="let local of labelsLocais" [value]="local.local">
                                    {{local.local}}
                                </mat-option>
                            </mat-select> -->
                            <mat-select (selectionChange)="getItemsByLocal($event.value)"
                                placeholder="Selecione o local">
                                <mat-select-filter [placeholder]="'Procurar'" [displayMember]="'local'"
                                    [array]="labelsLocais" (filteredReturn)="filteredListLocal =$event">
                                </mat-select-filter>
                                <mat-option *ngFor="let local of filteredListLocal" [value]="local.local">
                                    {{local.local}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <h4 class="card-title" style="font-weight: bold;">{{selectedLocal ? selectedLocal : 'Selecione o
                            local que deseja filtrar acima...'}}</h4>
                        <p class="card-category" style="font-weight: bold;">Consultar locais que receberam doações</p>
                    </div>
                    <div *ngIf="isLoadingLocais&&selectedLocal" class="d-flex justify-content-center"
                        style="margin-top: 5%;">
                        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!isLoadingLocais" class="card-body table-responsive">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Procurar</mat-label>
                                <input matInput [disabled]="isLoadingLocais" (keyup)="applyFilterLocal($event)"
                                    placeholder="Procurar..." #input>
                            </mat-form-field>
                        </div>

                        <div class="example-container">

                            <div class="example-table-container mat-elevation-z8">

                                <table mat-table [dataSource]="dataItemsTableLocais" matSort>

                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
                                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="municipio">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Município </th>
                                        <td mat-cell *matCellDef="let row">{{row.municipio}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="medida">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade de medida </th>
                                        <td mat-cell *matCellDef="let row"> {{row.medida}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalItems">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
                                        <td mat-cell *matCellDef="let row"> {{row.totalItems}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsLocal;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsLocal;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro
                                            "{{input.value}}"</td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <b>Atualizado em {{timeDate | date:
                                "HH:mm:ss"}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning" style="background: #269cad !important">
                        <mat-form-field appearance="fill">
                            <!-- <mat-label>Selecione o item</mat-label>
                            <mat-select (selectionChange)="getByLocalItems($event.value)">
                                <mat-option *ngFor="let item of labelsItems" [value]="item.name">
                                    {{item.name}}
                                </mat-option>
                            </mat-select> -->
                            <mat-select (selectionChange)="getByLocalItems($event.value)"
                            placeholder="Selecione o item">
                            <mat-select-filter [placeholder]="'Procurar'" [displayMember]="'name'"
                                [array]="labelsItems" (filteredReturn)="filteredListItems =$event">
                            </mat-select-filter>
                            <mat-option *ngFor="let item of filteredListItems" [value]="item.name">
                                {{item.name}}
                            </mat-option>
                        </mat-select>
                        </mat-form-field>
                        <h4 class="card-title" style="font-weight: bold;">{{selectedItem ? selectedItem : 'Selecione o
                            item que deseja filtrar acima...'}}</h4>
                        <p class="card-category" style="font-weight: bold;">Consultar locais que receberam doações do
                            item selecionado</p>
                    </div>
                    <div *ngIf="isLoadingItem&&selectedItem" class="d-flex justify-content-center"
                        style="margin-top: 5%;">
                        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div *ngIf="!isLoadingItem" class="card-body table-responsive">
                        <div class="col-12">
                            <mat-form-field>
                                <mat-label>Procurar</mat-label>
                                <input matInput [disabled]="isLoadingItem" (keyup)="applyFilterItems($event)"
                                    placeholder="Procurar..." #input>
                            </mat-form-field>
                        </div>

                        <div class="example-container">

                            <div class="example-table-container mat-elevation-z8">

                                <table mat-table [dataSource]="dataItemsTableItems" matSort>

                                    <ng-container matColumnDef="local">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Local </th>
                                        <td mat-cell *matCellDef="let row">{{row.local}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="municipio">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Município </th>
                                        <td mat-cell *matCellDef="let row">{{row.municipio}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="medida">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidade de medida </th>
                                        <td mat-cell *matCellDef="let row"> {{row.medida}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalItems">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantidade </th>
                                        <td mat-cell *matCellDef="let row"> {{row.totalItems}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsItems;sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsItems;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">Nenhum dado corresponde ao filtro
                                            "{{input.value}}"</td>
                                    </tr>
                                </table>
                            </div>

                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> <b>Atualizado em {{timeDate | date:
                                "HH:mm:ss"}}</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>